:root{
  --background-color: #38404b;
  --text-color: #8ba2c2;
  --text-color-muted: #798ca8;
  --accent-color: #ffc107;
  --max-size: 1280px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
