:root{
  --background-color: #38404b;
  --text-color: #94ADCF;
  --text-color-muted: rgba(148, 173, 207, 0.7);
  --accent-color: #ffc107;
  --max-size: 1280px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
