body{
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Ubuntu", sans-serif;
}


.top-menu {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 1rem;
    max-width: var(--max-size);
    margin: 0 auto;
  }
  
  .app-name{
    font-size: 2em;
  }
  
  @media (min-width: 420px) {
    .app-name {
        display: none;
    }
  }
  
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    max-width: var(--max-size);
    margin: 0 auto;
  }
  
  .add-task-input-bar{
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 15px;
    width: 65%;
    max-width: 449px;
    border: none;
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 0.1), inset 3px 3px 12px rgba(0, 0, 0, 0.3) ;
    color: var(--text-color-muted);
  }
  
  .add-task-input-field{
    background-color: var(--background-color);
    width:100%;
    border: none;
    color: var(--text-color)
  }
  
  .add-task-input-field{
    outline: none;
  }
  
  @media (max-width: 420px) {
    .add-task-input-bar {
        display: none;
    }	
  }
  
  .menu-icon{
    flex: 0 1 auto;
    margin-left: auto;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color-muted);;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-color-muted);;
  }
  
  .task-container{
    width: 100%;
  }
  
  .tasks-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    flex-basis: var(--max-size);
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 420px) {
    .tasks-grid {
        flex-direction: column;
        align-items: center;
    }
  }
  
  .task{
    flex: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3), -2px -2px 8px rgba(255, 255, 255, 0.1) ;
    border-radius: 15px;
    max-width: 449px;
    cursor: pointer;
    transition: color 0.5s ease-out;
  }
  .task:hover{
    color: var(--accent-color);
  }

  
  @media (min-width: 420px) and (max-width: 1024px) {
    .task{
      flex-basis: 40%;
    }
  }
  @media (max-width: 420px) {
    .task{
      flex-basis: 100%;
      width: calc(100% - 2rem);
    }
  }
  
  .task-completed{
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 0.1), inset 3px 3px 12px rgba(0, 0, 0, 0.3) ;
    text-decoration: line-through;
  }
  
  .task-text{
    flex: 1 1 auto;
    margin-left: 2.125rem;
    font-size: 1.15rem;
    position: relative;
  }
  
  .task-text::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -2rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    border: 2px solid  var(--text-color);
  }

  .tasks-grid--completed .task-text::before {
    background-color: var(--text-color);
  }
  
  .task:hover .task-text::before{
    border: 2px solid  var(--accent-color);
  }

  .tasks-grid--completed .task:hover .task-text::before{
    background-color: var(--accent-color);
  }
  
  .addtask-float-button {
    position:fixed;
    bottom: 5%;
    right:5%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 40px;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3), inset -1px -1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
  }
  
  @media (min-width: 420px) {
    .addtask-float-button {
        display: none;
    }	
  }
  
  .section-title{
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: left;
    width: 100%;
  }
  
  .menu-icon{
    width: 50px;
    height: 35px;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .menu-icon:hover .icon-bar{
    background-color: var(--accent-color)
  }
  
  .icon-bar{
    position: absolute;
    height: 5px;
    border-radius: 5px;
    background-color: var(--text-color);
    right: 5px;
  }
  

  .icon-bar--top{
    bottom: 25px;
    width: 28px;
  }

  .icon-bar--middle{
    bottom: 15px;
    width: 40px;
  }
  .icon-bar--bottom{
    bottom: 5px;
    width: 23px;
  }


  .input-inside-text{
    position: absolute;
    margin: 0;
    top: 16px;
    right: 25px;
    font-size: 1.5rem;
    cursor: default;
  }